[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
pylint = "*"

[packages]
django = "==2.1.15"
pymysql = "*"
django-allow-cidr = "*"
pillow = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-summernote = "*"

[requires]
python_version = "3.8"
