[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
pylint = "*"
autopep8 = "*"

[packages]
django = "==2.2.10"
pymysql = "*"
django-allow-cidr = "*"
pillow = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-summernote = "*"
django-crispy-forms = "*"
django-session-timeout = "*"
django-ckeditor = "*"

[requires]
python_version = "3.8"
