/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------------------------------------------------------------------------------------------------------+
|
|    Creation date: 2020-03-20
|    Description: 
|    Author: Gyo
|    Version: 1.0
|
+----------------------------------------------------------------------------------------------------------------------------------+
    +---------+
    |CSS INDEX|
    +---------+
+----------------------------------------------------------------------------------+
|   00. CSS Reset                                                                  |
|   01. Theme Default CSS                                                          |
|   02. Header Default CSS                                                         |
|   03. Nav Default CSS                                                            |
|   04. Section Default CSS                                                        |
|   05. Article Default CSS                                                        |
|   06. Aside Default CSS                                                          |
|   07. Footer Default CSS                                                         |
+---------------------------------------------------------------------------------*/



/*----------------------------------------*/
/*  1.  Theme default CSS                 */
/*----------------------------------------*/
/* 매우 작은 기기들 (모바일폰, 768px 보다 작은) */
/* 부트스트랩에서 이것은 기본이므로 미디어쿼리가 없습니다. */

/* 작은 기기들 (태블릿, 768px 이상) */
/* @media (min-width: @screen-sm-min) { ... } */

/* 중간 기기들 (데스크탑, 992px 이상) */
/* @media (min-width: @screen-md-min) { ... } */

/* 큰 기기들 (큰 데스크탑, 1200px 이상) */
/* @media (min-width: @screen-lg-min) { ... } */

.top-container {
    width: 100%;
    background: #f8f9fa;
    /* 그리드 레이아웃 구성 */
    display: grid;
    grid-template-columns: repeat(1, 200px 8fr 200px);
    grid-template-rows: repeat(1, 88px 1fr 50px);
    /* grid-auto-columns: minmax(100px, auto) minmax(max-content, 1fr) minmax(100px, auto);
    grid-auto-rows: minmax(50px, auto); */
}
.header-section-area {
    background:#00c292;
    grid-column: 1 / 4;
    grid-row: 1/2;
}
.section-area {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.article-section-area {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.aside-section-area {
    grid-column: 3/4;
    grid-row: 2 / 3;
}
.footer-section-area {
    background:#00c292;
    grid-column: 1 / 4;
    grid-row: 3;
}
.container-article {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

/*----------------------------------------*/
/*  02. Header Default CSS                */
/*----------------------------------------*/
.bg-light {
    background-color: #00c292!important;
}
.group-nav {
    padding: 0 200px;
}
.nav-tabs {
    border-bottom: 1px solid #f1f4f7;
    background-color: #f1f4f7;
    padding: 0 200px;
}
.navbar-light .navbar-brand {
    color: #fff;
    font-weight: bold;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: #fff;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
}
.btn .btn-info .btn-sm .active {
    margin: auto 30px;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.btn .btn-primary .float-right {
    margin: 30px auto;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
/*----------------------------------------*/
/*  03.  Nav default CSS                  */
/*----------------------------------------*/

/*----------------------------------------*/
/*  04. Section Default CSS               */
/*----------------------------------------*/

/*----------------------------------------*/
/*  05. Article Default CSS               */
/*----------------------------------------*/

/*---Table CSS---*/
.container-article {
    width: 100%;
    min-height: 100vh;
    background: #fff;
  
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
  }
.wrap-table {
    width: 1300px;
}
.wrap-table th {
    font-family: Montserrat-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: #00c292;
}


.section-heading {
    font-size: 24px;
    font-weight: 700;
    margin-top: 60px;
}
.section-content {
    font-size: 18px;
    font-weight: 450;    
}
.logo-img {
    padding: 0;
}
/*----------------------------------------*/
/*  06. Aside Default CSS                 */
/*----------------------------------------*/

/*----------------------------------------*/
/*  07.  Footer default CSS               */
/*----------------------------------------*/
.footer-copyright-area {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 15px 0px;
    text-align: center;
}