/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------------------------------------------------------------------------------------------------------+
|
|    Creation date: 2020-03-20
|    Description: 
|    Author: Gyo
|    Version: 1.0
|
+----------------------------------------------------------------------------------------------------------------------------------+

    +---------+
    |CSS INDEX|
    +---------+

+----------------------------------------------------------------------------------+
|   1. Theme Default CSS                                                           |
|   1. Theme Default CSS                                                           |
|   1. Theme Default CSS                                                           |
|   1. Theme Default CSS                                                           |
|   1. Theme Default CSS                                                           |
|   1. Theme Default CSS                                                           |
|   1. Theme Default CSS                                                           |
|   1. Theme Default CSS                                                           |
|   1. Theme Default CSS                                                           | 
+---------------------------------------------------------------------------------*/



/*----------------------------------------*/
/*  1.  Theme default CSS                 */
/*----------------------------------------*/
.container {
  /* 너비 고정 및 중앙 정렬 */
  width: 960px;
  margin: 0 auto;
  padding-top: 10px;

  /* 그리드 구성 */
  display: grid;
  grid-template: 70px 1fr 70px / 200px 1fr;
  grid-gap: 5px;
  grid-template-areas: 
    'header header'
    'nav nav'
    'section section'
    'footer fooer';
}
[class*=cell] {
  box-sizing: border-box;
  border: 5px solid black;
  padding: 10px;
  border-radius: 10px;
}
/* .cell-header {
    grid-column: 1 / 3;
}
.cell-footer {
    grid-column: 1 / 3;
} */
.cell-header {
    grid-area: header;
}
.cell-nav {
    grid-area: nav;
}
.cell-section {
    grid-area: section;
}
.cell-footer {
    grid-area: footer;
}
.footer-section-area {
    margin-top:40px;
}
.footer-section-area p {
    margin: 0;
    font-size: 14px;
    color: #fff;
    padding: 15px 0px;
    text-align: center;
}
.footer-section-area a{
    color:#fff;
	transition:all .4s ease 0s;
}
.footer-section-area a:hover{
    color:#333;
	transition:all .4s ease 0s;
}