{% extends "_base.html" %}
{% load staticfiles %}

{% block title %}
로그인
{% endblock title %}


{% block link %}

<link rel="stylesheet" href="{% static 'css/Auth.css' %}" />

{% endblock link %}

{% block Article %}

<article class="article-section-area">
    <div class="tab-pane fade show active">
        <div class="container-article">
            <div class="wrap-login">
                <form class="auth-container" method="POST" action="{% url 'user:Login' %}">
                    {% csrf_token %}
                    <h1>로그인</h1>
                    {{ form.email }}
                    {{ form.email.errors|striptags }}
                    {{ form.password }}
                    {{ form.password.errors|striptags }}
                    <button type="submit" class="btn btn-success">로그인</button>
                </form>
            </div>
        </div>
    </div>
</article>
{% endblock Article %}