<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/BaseStyle.css' %}" />
    {% block link %}
    {% endblock link %}
</head>

<body>
    <div id="container" class="top-container">
        {% include 'header.html' %}

        {% include 'section.html' %}

        {% block Article %}{% endblock Article %}

        {% include 'aside.html' %}

        {% include 'footer.html' %}

    </div>

    {% block script %}
    {% endblock script %}
</body>

</html>