{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}Post Edit{% endblock title %}

{% block Article %}
<!-- Article area start-->
<article class="article-section-area">
    <div class="tab-pane fade show active" id="home">

        <div class="container-article">
            <div class="wrap-table">
                <input type="text" placeholder="{{ object.title }}"
                    class="section-heading textinput textInput form-control">
                <hr>
                <textarea name="content" cols="40" rows="20"
                    class="section-content textarea form-control">{{ object.content }}</textarea>
            </div>
        </div>
    </div>
</article>
<!-- Article area End-->
{% endblock Article %}