{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}Post Detail{% endblock title %}

{% block Article %}
<!-- Article area start-->
<article class="article-section-area">
    <div class="tab-pane fade show active" id="home">

        <div class="container-article">
            <input type="button" value="글쓰기">
            <div class="button"><a class="btn btn-primary  btn-sm btn-block" href="{% url 'blog:create' %}">글쓰기</a>

            </div>
            <hr>
            <div class="wrap-table">
                <h1>{{ object.title }}</h1>
                <hr>
                <p>{{ object.content }}</p>
            </div>
        </div>
    </div>
</article>
<!-- Article area End-->
{% endblock Article %}